<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h1>Add User</h1>
    {% if current_user.is_admin %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.is_admin }} {{ form.is_admin.label }}
            </p>
            <p>{{ form.submit(value='Add User') }}</p>
        </form>
    {% else %}
        <p>You need to have admin privileges to view this page!</p>
    {% endif %}
{% endblock %}