<!doctype html>
<html>
    <head>
		{% if title %}
        <title>Alibaba - {{ title }}</title>
		{% else %}
		<title>Alibaba - SmartHome</title>
		{% endif %}
    </head>
    <body>
        <div>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('signin') }}">Login</a>
            {% else %}
            Menu:
            <a href="{{ url_for('garage') }}">Garage Door opener</a>
            <a href="{{ url_for('users_page') }}">Users</a>
            <p>Logged as: <b>{{ current_user.username }} <a href="{{ url_for('logout') }}">Logout</a></b></p>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>